{% extends "layout.html" %}
{% block content %}
    <form action="{{url_for('editItem', item_type=item.type, item_id=item.id)}}" method="POST">
        <fieldset>
            <legend>Edit {{item.type}}</legend>
            {% for key, value in fields.items() %}
                <div class="formRow">
                    <label for="{{key}}">{{key}}</label>
                    <input id="{{key}}" type="text" size="30" name="{{key}}" placeholder="{{value}}">
                </div>
            {% endfor %}
        </fieldset>
        <input class="button" type="submit" value="Edit">
        <a class="button cancelButton" href="{{url_for('itemPage', item_type=item.type, item_id=item.id)}}">Cancel</a>
    </form>
{% endblock content %}
