{% extends "layout.html" %}
{% block content %}
    <article class="itemCard">
        <section class="itemDetails">
            <h3 class="itemHeading">{{fields["Name"]}} - {{item.type}}</h3>
            <dl class="itemDL">
            {% for key, value in fields.items() if key != "Name" %}
                <div><dt>
                    {{key}}
                </dt>
                <dd>
                    {{value}}
                </dd></div>
            {% endfor %}
            </dl>
        </section>
        <section class="userDetails">
            <a class="button editButton" 
               href="{{url_for('editItem', item_type=item.type, item_id=item.id)}}">
            Edit</a>
            <a class="button deleteButton" 
               href="{{url_for('deleteItemPage', item_type=item.type, item_id=item.id)}}">
            Delete</a>
        </section>
    </article>
{% endblock content %}
