<!DOCTYPE html>
<html>
<head>
    <title>Archery Equipment Catalog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
</head>
<body>

    <header>
        <div class="headerContent">
            <a id="header-title" href="{{url_for('homePage')}}"><h1>
                ARCHERY EQUIPMENT CATALOG
            </h1></a>
            <a class="button loginButton" href="{{url_for('homePage')}}">Login</a>
        </div>
    </header>

    <main>
        <form action="{{url_for('newItemPage', item_type=item.type)}}" method="POST">
            <fieldset>
                <legend>Add A New {{item.type}}</legend>
                {% for key, value in fields.items() %}
                    <div class="formRow">
                        <label for="{{key}}">{{key}}</label>
                        <input id="{{key}}" type="text" size="30" name="{{key}}"
                        {% if key == "Name" %} required {% endif %}>
                    </div>
                {% endfor %}
            </fieldset>
            <input class="button" type="submit" value="Add">
            <a class="button cancelButton" href="{{url_for('categoryPage', item_type=item.type)}}">Cancel</a>
        </form>
    </main>

    <footer></footer>
</body>
</html>