{% extends "layout.html" %}
{% block content %}        
    <article class="itemCard">
        <section class="itemDetails">
            <h3 class="itemHeading">{{fields["Name"]}} - {{item.type}}</h3>
            <dl class="itemDL">
            {% for key, value in fields.items() if key != "Name" %}
                <div><dt>
                    {{key}}
                </dt>
                <dd>
                    {{value}}
                </dd></div>
            {% endfor %}
            </dl>
        </section>
        <section class="userDetails">
            <img class="userImage" src="{{item.user.picture}}">
            <p class="userName">{{item.user.name}}</p>
        </section>
    </article>
{% endblock content %}
