<!DOCTYPE html>
<html>
<head>
    <title>Archery Equipment Catalog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
</head>
<body>

    <header>
        <div class="headerContent">
            <a id="header-title" href="{{url_for('homePage')}}"><h1>
                ARCHERY EQUIPMENT CATALOG
            </h1></a>
            <a class="button loginButton" href="{{url_for('showLogin')}}">Login</a>
        </div>
    </header>

    <main>
        <article class="itemCard">
            <section class="itemDetails">
                <h3 class="itemHeading">{{fields["Name"]}} - {{item.type}}</h3>
                <dl class="itemDL">
                {% for key, value in fields.items() if key != "Name" %}
                    <div><dt>
                        {{key}}
                    </dt>
                    <dd>
                        {{value}}
                    </dd></div>
                {% endfor %}
                </dl>
            </section>
            <section class="userDetails">
                <img class="userImage" src="{{item.user.picture}}">
                <p class="userName">{{item.user.name}}</p>
            </section>
        </div>
    </main>

    <footer></footer>
</body>
</html>